Campaigns

# Ignore all .miz files
*.miz
*.mp4


# But don't ignore specific .miz files
!m1.miz
!m2.miz
!m3.miz
!m4.miz
!m5.miz
!m6.miz
!m7.miz
!m8.miz
!furmountain - F-15E - warmup - hot.miz
!furmountain - F-15E - warmup.miz
